*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: rgb(188, 189, 190);
    width: 100%;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 150px;
}
span{
    color: rgb(0, 0, 255);
}
.logo{
    text-decoration: none;
    color: rgb(0, 0, 255);
    text-transform: uppercase;
font-size: 1.5em;
}
.nav a{
    color: rgb(0, 0, 255);
    text-decoration: none;
    font-size: 1.2em;
    padding-left: 30px;
}
.nav a:hover{
color: black;
transition: 0.4s ease-out;
}

section{
    padding: 125px 90px;
    }
    .main{
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        background: url(image/mmm.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        }
        .main h2{
            margin-right: 80px;
            margin-top: 50px;
           font-size: 2.2em;             
 }
 .main h3{
  font-size:1.7em ;
  letter-spacing: 1px;
  margin-top: 10px;

 }

 .social-icons a{
    color: black;
    font-size: 1.7em;
    padding-right: 30px;
 }
 .title{
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 255);
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 2.2em;
 }

 .content{
    display: flex;
    justify-content: center;
    flex-direction: row;

 }
 .card{
    background-color: rgb(250, 191, 30);
    width: 19em;
    box-shadow: 0 -5px 30px rgba(1 1 1/ 30%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.5s ease;
     }

     .card:hover{
        transform: scale(1.1);
     }
     .icon {
        color: rgb(0, 0, 0) ;
        font-size: 3em;
        text-align: center;
     }
    .info{
        text-align: center;
    }
.info h3{
    color:rgb(0, 0, 255);
    font-size: 1.2em;
    font-weight: 600;
    margin: 10px;
 }

 @media(max-width:1023px){
    header{
        padding: 3px 30px;
    }
    .nav a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }
    section{
        padding: 70px 40px ;
         }
     
 }

 button{
    border-radius: 15px;
    border: none;
    width: 100px;
    font-size: 15px;
    margin-left: 200px;
    margin-bottom: 90px;
    background-color: rgb(250, 191, 30);
}

button:hover{
    color: rgb(7, 240, 221);
    transform: scale(1.2);
    background-color: black;
    transition: 0.4s ease-out;
    cursor: pointer;
}

