*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}
span{
    color: #e6ccb2;
}
body{
    background-color:#7f5539;
    color:#000000;
}
.container{
    margin: 40px;
    width: 90%;
    padding: 30px;
max-width: 700px;
}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
    background-color: #e6ccb2 ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 30px;
  border-radius: 15px;
}
#password{
    width: 70%;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
}

button{
    width: 80px;
    height: 40px;
  border-radius: 10px;
border: none;
outline: none;
font-size: 20px;
font-weight: 700;
}

button:hover{
    background-color:#e6ccb2 ;
    color: black;
    transition: 0.3s ease;
    cursor: pointer;
    transform: scale(1.1);
}
#password::placeholder{
    font-size: 20px;
    padding-left: 30px;
}

a:hover{
    background-color: #7f5539;
    cursor: pointer;
    transition: 0.1;
    }
